.drag-n-drop {
  .drop-area {
    border: 2px dashed lightgray;
    cursor: pointer;
    text-align: center;
    color: lightgray;
    min-height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    *:focus {
      outline: none;
    }
    svg {
      width: 40px;
      height: 40px;
    }
    .dropzone {
    }
  }
}